<!DOCTYPE html>
<html>
    <head>
        <title>member page</title>
    </head>
    <body>
        <h1>Welcome! <%= email%></h1>
        <h2>Here's your vip-exclusive offer</h2>
        <form action="/signout" method="POST">          
                <button type="submit">sign out</button>
        </form>
    </body>
</html>
